    <footer>

        <div class="cont_footer">
            <section class="cont_footer__icons">
                <a href="#"><img src="./img/icono_fb.png" alt=""></a>
                <a href="https://www.instagram.com/jcpelaez7/?hl=es-la" target="blank"><img src="./img/icono_inst.png"
                        alt=""></a>
                <a href="#"><img src="./img/icono_pint.png" alt=""></a>
                <a href="#"><img src="./img/icono_Be.png" alt=""></a>
            </section>

            <p class="cont_footer__text">© 2019 Juan Carlos Peláez. Todos los derechos reservados.</p>

        </div>
    </footer>