<header class="header-principal">
        <nav class="navegador">
            <a href="/"><img src="./img/iconNavP.png" alt=""></a>
            <p class="navegador__text"><a href="/" class="navegador__link">Inicio</a></p>
            <p class="navegador__text"><a href="#" class="navegador__link">Servicios</a></p>
            <p class="navegador__text"><a href="#" class="navegador__link">Proyectos</a></p>
            <p class="navegador__text"><a href="/galeria" class="navegador__link">Galería</a></p>
            <p class="navegador__text"><a href="#" class="navegador__link">Acerca</a></p>
        </nav>
    </header>