<head>
    {{> head}}

</head>

<body>

    {{> header}}

    <div class="titulo-galeria">
        <h1 class="titulo-paginas">Galería</h1>
        <p class="cantidad-productos">20 productos</p>
    </div>

    <div class="contenedor-productos">
        <section class="producto">
            <img src="../public/img/galery_ukauka.png" alt="">
            <article class="producto__info">
            <p class="producto__categoria">Categoria</p>
            <h4 class="producto__nombre">Nombre producto</h4>
            <p class="producto__precio">$0000</p>
            </article>

        </section>
    </div>
</body>

{{> footer}}