<!DOCTYPE html>
<html lang="en">

<head>
    <base href="/">
    {{> head}}
    
</head>

<body>
    {{> header}}

    <div class="contenedor-productos">
        <h3 class="producto__categoria">{{producto.categoria}}</h3>
    </div>
</body>

{{> footer}}