body{
    margin: 0;
    height: 100%;
}

.header-principal{
    background-color: #0F0F0F;
    display: flex;
    padding: 0 2em;
    
    justify-content: space-between;
}

.navegador{

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    &__text{
        margin: 0;
        padding: 1em;
        align-self: center;
    }

    &__logo{
        width: 50%;
        margin-right: 1em;
        padding-top: 0.4em;
    }

    &__link{
    color: white;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 0.8em;
    }
    &__text:hover{
        background: #2E94B5;
    }
    
}

.banner-princ{

    display: flex;
    flex-direction: row;
    background-color: #0F0F0F;

    &__titulo{
        color: white;
        margin: 0;
        font-family: 'Gochi Hand', cursive;
        font-weight: lighter;
        letter-spacing: 0.1em;
        text-align: center;
        font-size: 0.8em;
    }

    &__cont{
        background-image: url(../img/header_web_fondo.png);
        background-color: #0F0F0F;
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 0.0;
        background-position: center;
        min-height: 200px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        }

    &__logo{
        position: relative;
        bottom: -100px;
        opacity: 0.0;
        min-height: 100px;
        width: 100%;
        flex-grow: 0;
    }

    &__pincelada{
        width: 150px;
    }
}

.publicidad{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    &__img{
        flex-grow: 1;
    }
    &__info{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 1.5em;
        flex-grow: 1;
    }
}

.titulo-secciones{
    font-family: 'Gochi Hand', cursive;
    font-size: 2em;
    margin: 0.5em 0;
}

.texto{
    font-family: 'Roboto', sans-serif;
    font-size: 1m;
    
}

.boton-princ{
    background-color: #2E94B5;
    border: none;
    color: white;
    font-family: 'Roboto', sans-serif;
    padding: 1em 2em;
    text-align: center;
    font-size: 1em;
    cursor: pointer;
    align-self: flex-start;

    &:hover{
        background-color: #3EB1CC;
    }
}

.caracteristicas{
    display: flex;
    flex-wrap: wrap;
}

.item{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 1.5em;
    display: flex;
    flex: 1 1 500px;
    height: 200px;
    flex-wrap: wrap;
    flex-direction: column;

    &__titulo{
        color: white;
        font-family: 'Gochi Hand', cursive;
        font-weight: lighter;
        letter-spacing: 0.1em;
        margin: 0;
    }

    &__link{
        text-decoration: none;
        color: #2E94B5;
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
    }
}

.text-interac{
    background-color: #282625;
    color: white;
    font-family: 'Gochi Hand', cursive;
    font-weight: lighter;
    letter-spacing: 0.1em;
    margin: 0;
    padding: 2em;
    display: flex;
    justify-content: center;
}

.interac{

    padding: 2em;
    background-color: #282625;
    display: flex;
    justify-content: center;

    &__cont{
        width: 700px;
        display: flex;
        justify-content: center;        
    }
    &:hover .img1{
        -webkit-filter:blur(20px);
        filter:blur(20px);
        transform:scale(1.1);
        opacity:0;
    }
    &:hover .img2{
        -webkit-filter:blur(0px);
        filter:blur(0px);
        transform:scale(1);
        opacity:1;
    }
}

.img1{
    position:absolute;
    z-index:2;
    transition:.4s;
    transform-origin:50%,50%;
    width: 300px;
}

.img2{
    -webkit-filter:blur(20px);
    filter:blur(20px);
    transform:scale(1.1);
    opacity:1;
    transition:.4s;
    width: 100%;
    height: 100%;
}

.galeria{
    margin: 2em;
    

    &__cont{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    &__img{
        flex: 0 1 100px;
        width: 250px;
        height: 250px;
        margin: 1em;
        transition: all 0.5s;
        -webkit-transition: all 0.5s;
        &:hover{
            cursor: pointer;
            width: 300px;
            height: 300px;
        }
    }

    &__titulo{
        color: #2E94B5;
    }
}

 #myModal video{
     width: 100%;
     height: auto;
}

.especfs{

    background-image: url(../img/UkaukaPlay.png);
    background-repeat: no-repeat;
    background-size: 180%;
    background-position: center;
    opacity: 0;
    margin: 2em;
    display: flex;
    flex-direction: column;
    

    &__titulo{
        color: #2E94B5;
        align-self: flex-end;
    }

    &__cont{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
}

.especf{

    width: 50%;

    &__titulo{
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
    }

    &__text{
        font-family: 'Roboto', sans-serif;
        border-bottom-style: solid;
        border-color: #2E94B5;
        padding-bottom: 2.5em;
    }
}

.newsl{
    background-color: #262626;
    display: flex;
    flex-direction: column;
    padding: 3em 3em;
    justify-content: center;

    &__titulo{
        color: #2E94B5;
        text-align: center;
    }

    &__text{
        font-family: 'Roboto', sans-serif;
        color: white;
        font-size: 0.8em;
        text-align: center;
        margin: 3em 0;
    }
}

.cont_form{
    display: flex;
    flex-direction: column;
    align-items: center;

    &__input{
        width: 70%;
        padding: 1em;
        background-color: #262626;
        border: 1px solid #2E94B5;
    }

    &__boton{
        width: 70%;
        background-color: #2E94B5;
        border: none;
        color: white;
        font-family: 'Roboto', sans-serif;
        padding: 1em;
        text-align: center;
        cursor: pointer;
        box-sizing: content-box;
        border: 1px solid #2E94B5
    }
}

.titulo-paginas{
    color: #2E94B5;
    font-family: 'Gochi Hand', cursive;
    font-size: 3em;
    margin: 0 0;
}

//Página galeriá
.titulo-galeria{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 2em;
}

.contenedor-productos{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    margin: 2em;
}

.cantidad-productos{
    font-family: 'Roboto', sans-serif;
    font-size: 0.8em;
    margin: 0;
}

.filtros{
    background-color: #f3f3f3;
    display: flex;
    flex-direction: row;
    margin: 0 2em 0 2em;
    padding: 1em;

    &__titulo{
    align-self: center;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    font-weight: 400;
    }

    &__item{
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 0.8em;
    font-weight: 300;
    }

}

.producto-galeria{
    
    margin: 1em;

    &__imagen{
        flex: 0 1 100px;
        width: 250px;
        height: 250px;
    }

    &__imagenDos{
        flex: 0 1 100px;
        width: 200px;
        height: 200px;
        position: absolute;
        left: 10%;
        top: 10%;
        opacity: 0;
    }

    &__info{
        background-color: #F4F4F4;
        padding: 1em;
    }

    &__categoria{
    color: #606060;
    font-family: 'Roboto', sans-serif;
    font-size: 0.8em;
    font-weight: 300;
    margin: 0;
    }

    &__nombre{
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
    font-weight: 400;
    margin: 0;
    }

    &__precio{
        font-family: 'Roboto', sans-serif;
        font-size: 1em;
        font-weight: 300;
        margin: 1em 0 0 0;  
    }
}

.producto{
    margin: 1em;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    &__info{
        width: 100%;
        margin: 1em 0em 2em;
    }

    &__categoria{
        color: #606060;
        font-family: 'Roboto', sans-serif;
        font-size: 1em;
        font-weight: 300;
        margin: 1em 0 0 0;
        }
        
    &__nombre{
        font-family: 'Roboto', sans-serif;
        font-size: 2em;
        font-weight: 800;
        margin: 0.2em 0 0 0;
        }

    &__precio{
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    font-weight: 300;
    margin: 0.5em 0 0 0;  
    }

    &__imagen{
        width: 100%;
        margin: 1em 0 1em 0;
    }


}

.detalles-producto{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 0.5em;

    &__titulo{
        font-family: 'Roboto', sans-serif;
        font-size: 2em;
        font-weight: 400;
        margin: 0;
    }

    &__texto{
        font-family: 'Roboto', sans-serif;
        font-size: 1em;
        font-weight: 400;
    }
}

.cont_footer{
    padding: 2em 0 1em 0;
    background-color: #0F0F0F;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;

    &__icons{
        //aqui va algo :p
    }

    &__text{
        color: white;
        font-family: 'Roboto', sans-serif;
        font-size: 0.7em;  
    }
}

@media (min-width: 1000px){
    .banner-princ{
        
    
        &__cont{
            min-height: 600px;
            }
        &__logo{
            width: 85%;
        }
        
    }
}

@media (min-width: 700px){
    .publicidad{
        
        flex-wrap: nowrap;
        margin: 2em;
    }

    .newsl{
        padding: 3em 10em;
    }

    .cont_form{
        flex-direction: row;
        align-items: inherit;
    }

    .img1{
        width: 700px;
        
    }

    .producto{
        flex-direction: row;
        flex-wrap: nowrap;
        &__imagen{
            width: 500px;
            height: 100%;
            flex-shrink: 0;
            order: 0;
        }

        
    }

    .detalles-producto{
        margin: 2em;
    }
}